# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Automation Project\Gauge selenium Project1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
